@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Merriweather', serif;
    max-width: 1320px;
    margin: auto;
}

.hero{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('./images/Banner\ Image.png');
    width: 1320px;
    height: 620px;
    background-repeat: no-repeat;
    margin-top: 10px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heroText{
    color: #FFF;
    width: 390px;
}
.heroText h3{
    font-size: 20px;
    margin: auto;
    text-align: center;
}
.heroText h2{
    text-align: center;
    font-size: 50px;
}
.categories{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cateHeading{
    text-align: center;
    margin: 10px;
}
.categories h1{
    color: red;
    margin-bottom:15px;
    font-size: 50px;
    font-weight: 700;
}
.categories p{
    color: red;
    font-size: 14px;
    margin-bottom: 8px;
}
.categories h2{
    color: black;
    font-size: 35px;
    margin-bottom: 20px;
}
.cateImg{
    width: 800px;
    height: 500px;
}