@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700&display=swap');
 

*{
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Merriweather', serif;
    max-width: 1320px;
    margin: auto;
}

.hero{
    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('./images/Banner\ Image.png');
    width: 1320px;
    height: 620px;
    background-repeat: no-repeat;
    margin-top: 10px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.heroText{
    color: #FFF;
    width: 390px;
}
.heroText h3{
    font-size: 20px;
    margin: auto;
    text-align: center;
}
.heroText h2{
    text-align: center;
    font-size: 50px;
}
.categories{
    display: flex;
    align-items: center;
    justify-content: center;
}
.cateHeading{
    text-align: center;
    margin: 10px;
    font-family: Inter;
}
.categories h1{
    color: red;
    margin-bottom:15px;
    font-size: 50px;
    font-weight: 700;
}
.categories p{
    color: red;
    font-size: 15px;
    
}
.categories h2{
    color: black;
    font-size: 35px;
    margin-bottom: 20px;
    font-weight: 700;
}
.cateImg{
    width: 800px;
    height: 500px;
}

section{
    margin: 80px 0px;
}

.vectorparty{
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url('./images/Vectorrr.png');
    background-repeat: no-repeat;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    height: 600px;
    display: flex;
    align-items: center;
    justify-items: center;
    padding-left: 60px
}

.vectorContainer p{
    width: 600px;
    color: #ffffffbf;
    font-family: Inter;
    line-height: 30px;
    padding: 15px 0px;
}
.vectorContainer h3{
  width: 600px;
  font-size: 62px;
  color: white;
  letter-spacing: 8px;
}
.vectorContainer button{
    background: none;
    font-weight: 700;
    font-family: Inter;
    font-size:20px;
    color: white;
    text-transform: uppercase;
}
.datetime{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    height: 420px;
    font-family: Inter;
    font-size: 19px;
}
.datecontain{
    display: flex;
    flex-direction: column;
    gap: 9px;
}
.datecontain p{
    font-weight: 600;
}
.smalltext{
    color: red;
    font-weight: bold;
}
.datecontain button{
    background-color: red;
    color: white;
    text-transform: capitalize;
    font-weight: bold;
    border-radius: 6px;
    padding: 10px 20px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    width: 100px;
    margin: auto;
    margin-top: 18px;
}
.offerSection{
    display: flex; 
    justify-content: space-between;
    gap: 10px;
    font-family: Inter;
}

img.middleimg {
    border: 10px solid red;
    border-radius: 100%;
    padding: 24px;
    width: 360px;
    height: 360px;
}
.leftContent{
    width: 400px;
}
.rightContent{
    width: 400px;
}
.leftContent span{
    font-weight: 400;
    color: red;
}
.leftContent h2{
    font-family:Merriweather;
    padding: 10px 0px;
    font-size: 30px;
    font-weight: 900;
    color: black;
}
.leftContent p{
    color: rgb(143 140 140 / 94%);
    width: 390px;
}
.rightContent{
    width: 400px;
}
.rightContent span{
    color: red;
    font-size: 38px;
    font-weight: 700;
}
.rightContent p{
    color: rgb(143 140 140 / 94%);
    width: 250px;
    padding: 10px 0px;
}
.Portfolio_content{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 25px 0px;
    flex-wrap: wrap;
}
.port_img{
    width: 420px;
    height: 420px;
    object-fit: cover;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.port_img:hover{
    transition:all 2s;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    -webkit-transition:all 2s;
    -moz-transition:all 2s;
    -ms-transition:all 2s;
    -o-transition:all 2s;
}
.Portfolio_Heading span{
    color: red;
    font-family: Inter;
    font-weight: 600;
}
.Portfolio_Heading h2{
    font-weight: 900;
    padding: 15px 0px;
    font-size: 36px;
}
.Portfolio_Heading p{
    width: 700px;
    color: #8b8b8f9e;
    font-family: Inter;
}
.holiday_img{
    position: relative;
}
.holiday_content{
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}
.holiday_content span{
    color: red;
    font-family: Inter;
    font-weight: 600;
}
.Holidays{
    font-family:Merriweather !important;
}
.holiday_content p{
    color: rgba(7, 2, 17, 0.60);
    width: 700px;
    font-family: Inter;
    margin: auto;
}
.holiday_content h3{
    font-weight: 900;
    padding: 10px 0px;
    font-size: 40px;
}
.holiday_img{
    display: flex;
    justify-content: space-between;
}
img.holiday_bottom {
    transform: translateY(-5px);
}
.holiday_image_details{
    position: relative;
}
.holiday_left img {
    position: absolute;
    bottom: -33%;
    left: 5%;
    z-index: 9999;
}
.holiday_right{
    position: relative;
}
.holiday_right_img_1 {
    position: absolute;
    top: 12%;
    left: -37%;
}
 .subscribe{
    margin: auto;
    text-align: center;
 }
 .mailimg{
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
 }
 .subscribe_content{
    padding: 80px 0px;
background:linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
height: 400px;
 }
 .subscribe_content h2{
    padding: 15px;
    font-size: 30px;
 }
 .subscribe_content p{
    color: rgba(7, 2, 17, 0.60);
    width: 600px;
    font-family: Inter;
    margin: auto;
 }
 .input_subscribe {
    position: relative;
    width: 600px;
    margin: auto;
    padding-top: 30px;
}
.input_subscribe input {
    padding: 15px;
    border: 2px solid #f2dada;
    border-radius: 30px;
    width: 400px;
    outline: none;
}
button.input_btn {
    position: absolute;
    width: 129px;
    padding: 16px;
    background: red;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    position: absolute;
    right: 98px;
    color: white;
    font-weight: bold;
}
.footer{
    background: #070211;
    padding: 80px 40px;
    height: 500px;
    color: white;
    font-family: Inter;
    margin-top: 40px;
}
.footer_top_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.top_left {
    width: 300px;
}
.top_right {
    width: 250px;
}

.top-right-content {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.footer_middle {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0px;
    gap: 20px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.footer_down {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}